.button {
  width: auto;
  height: 3em;
  margin: 0;
  padding: 0.8em 1em;
  overflow: visible;
  border: 1px solid #1e6fd9;
  border-radius: 3px;
  letter-spacing: 0.05em;
  text-align: inherit;
  color: inherit;
  font: inherit;
  line-height: normal;

  background: none;
  -webkit-box-shadow: -1px 0px 89px -16px rgba(30, 111, 217, 1);
  -moz-box-shadow: -1px 0px 89px -16px rgba(30, 111, 217, 1);
  box-shadow: -1px 0px 89px -16px rgba(30, 111, 217, 1);
  transition: background-color 0.3s ease, color 0.3s ease;

  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  &:hover {
    background-color: #1e6fd9;
    color: #f2f2f2;
  }
}

.explore {
  background-color: #1e6fd9;
  color: #f2f2f2;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #0d65d9;
  }
}

@media (max-width: 1684px) {
  .button {
    font-size: 0.98em;
  }
}

@media (max-width: 1280px) {
  .button {
    font-size: 0.85em;
  }
}

@media (max-width: 1024px) {
  .button {
    font-size: 1em;
  }
}
