.category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28em;
  height: 35em;
  border: 3px solid #00adfe;

  .left-arrow,
  .right-arrow {
    position: absolute;
    width: 2.5em;
    height: auto;
    cursor: pointer;
  }

  .left-arrow {
    right: 35em;
  }

  .right-arrow {
    left: 35em;
  }

  .category-item {
    width: 40em;
    bottom: 0;
    cursor: pointer;

    .item {
      width: 100%;
      height: 100%;
      box-shadow: -2px 1px 24px -12px rgba(126, 176, 242, 1);
      -webkit-box-shadow: -2px 1px 24px -12px rgba(126, 176, 242, 1);
      -moz-box-shadow: -2px 1px 24px -12px rgba(126, 176, 242, 1);
    }
  }
}

@media (max-width: 1515px) {
  .category {
    width: 25em;
    height: 30em;

    .left-arrow {
      right: 32em;
    }

    .right-arrow {
      left: 32em;
    }

    .category-item {
      width: 37em;
    }
  }
}

@media (max-width: 430px) {
  .category {
    width: 20em;
    height: 25em;

    .left-arrow,
    .right-arrow {
      top: 85%;
    }

    .left-arrow {
      left: 30%;
    }

    .right-arrow {
      left: 55%;
    }

    .category-item {
      width: 25em;
    }
  }
}

@media (max-width: 390px) {
  .category {
    width: 19em;
    height: 23em;

    .left-arrow {
      left: 28%;
    }

    .category-item {
      width: 22em;
    }
  }
}
