.top {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5em;

    h1 {
      letter-spacing: 0.03em;
    }

    h3 {
      font-size: 1.1em;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: #586274e5;
    }
  }

  .blocks {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;

    .block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 38em;
      padding: 1em;
      background-color: #12151ae5;
      border: 2px solid #1a1e25e5;

      .title {
        font-size: 2.2em;
        font-weight: 800;
        color: #3084f2;
        height: 30%;
      }

      .description {
        font-size: 1.4em;
        text-align: center;
        color: #f2f2f2;
        padding: 0 2em;
        margin: 0.2em 2em 0.7em;
        height: 70%;
      }

      .button {
        all: unset;
        width: 40%;
        padding: 0.5em 0;
        text-align: center;
        font-weight: 400;
        border: 1px solid #5096f2;
        cursor: pointer;
        transition: background-color 0.3s ease-in;

        &:hover {
          background-color: #5096f2;
        }
      }

      .custom-select {
        width: 40%;
      }
    }
  }
}

.locations {
  display: flex;
  flex-direction: column;
  margin-top: 0.8em;

  .locations-header {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    color: #5c9df2;
  }

  .locations-description {
    text-align: center;
    margin-bottom: 1em;
  }

  .locations-list {
    display: flex;
    flex-direction: column;

    ol {
      all: unset;

      li {
        all: unset;
      }
    }
  }
}
