.top {
  .header {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      text-transform: uppercase;
      color: #586274e5;
      letter-spacing: 0.05em;
      font-size: 1.1em;
    }
    h1 {
      letter-spacing: 0.03em;
    }
  }
  .blocks {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    .block {
      border: 2px solid #1a1e25e5;
      width: 38em;
      background-color: #12151ae5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: 1em;
      padding-right: 1em;
      .title {
        color: #3084f2;
        font-size: 2em;
        font-weight: 700;
        height: 30%;
      }
      .description {
        margin-top: 0.2em;
        color: #f2f2f2;
        font-size: 1.4em;
        padding-left: 2em;
        padding-right: 2em;
        height: 70%;
        text-align: center;
        margin-bottom: 0.7em;
      }
      .button {
        all: unset;
        cursor: pointer;

        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border: 1px solid #5096f2;
        text-align: center;
        font-weight: 400;
        width: 40%;
        transition: background-color 0.3s ease-in;
        &:hover {
          background-color: #5096f2;
        }
      }
      .custom-select {
        width: 40%;
      }
    }
  }
}
