.header {
  display: flex;

  .header-logo {
    height: 5.5em;
    padding-top: 1.3em;
    padding-left: 22em;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    margin-left: auto;
    padding-top: 1.5em;
    color: #5c9df2;
    letter-spacing: 0.1em;
  }

  .language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 20em;
    font-size: 1.1em;
    font-weight: 800;
    letter-spacing: 0.05em;
    cursor: pointer;
  }
}
