.home-page {
  display: flex;
  margin-top: 7em;

  .section {
    display: flex;
    justify-content: center;
    align-items: center;

    .left-container {
      width: 50%;
      padding-left: 15em;
      padding-right: 4em;
      letter-spacing: 0.05em;

      .h1 {
        font-size: 3em;
        padding-right: 1em;
        font-weight: normal;

        .highlighted-text {
          font-weight: 800;
        }
      }

      .h2 {
        margin-top: 0.3em;
        font-size: 1.3em;
        padding-right: 1.5em;
        font-weight: 400;
      }

      .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2em;
        margin-right: 4em;
        gap: 1em;
      }
    }

    .right-container {
      width: 50%;
      position: relative;
      .first {
        position: relative;
        z-index: 1;
      }
      .second {
        position: absolute;
        top: 5em;
        left: 18em;
        z-index: 5;
      }
      .third {
        position: absolute;
        top: 18em;
        z-index: 2;
      }
    }
  }
}
