.home-page {
  display: flex;
  margin-top: 5em;
  height: auto;
  position: relative;
  .section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    .left-container {
      padding-top: 2em;
      width: 50%;
      padding-left: 15em;
      padding-right: 4em;
      letter-spacing: 0.05em;
      margin-left: 2em;
      .h1 {
        font-size: 3.5em;
        padding-right: 1em;
        font-weight: normal;

        .highlighted-text {
          font-weight: 800;
          background-color: #5c9df2;
          padding: 0.1em 0.3em;
          display: inline-block;
          animation: wave 2s 3 ease-in-out;
        }
      }

      .h2 {
        margin-top: 0.3em;
        font-size: 1.3em;
        padding-right: 1.5em;
        font-weight: 400;
      }

      .button-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2em;
        margin-right: 4em;
        gap: 1em;
      }
    }

    .right-container {
      width: 50%;
      position: relative;
      margin-left: 2em;

      .first {
        position: relative;
        z-index: 1;
      }
      .second {
        position: absolute;
        top: 10em;
        left: 18em;
        z-index: 5;
      }
      .third {
        position: absolute;
        top: 20em;
        z-index: 2;
      }
    }
  }
}
.shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -100px 100px 12px rgba(30, 111, 217, 1);
  -moz-box-shadow: 0px -100px 100px 12px rgba(30, 111, 217, 1);
  box-shadow: 0px -100px 100px 12px rgba(30, 111, 217, 1);
}

@media (max-width: 1684px) {
  .home-page {
    .section {
      .left-container {
        padding-left: 10em;
        padding-right: 2em;
        .h1 {
          font-size: 3em;
        }
        .h2 {
          font-size: 1.2em;
        }
      }
      .right-container {
        margin-left: 2.5em;
        .second {
          top: 8em;
        }
        .third {
          top: 16em;
        }
      }
    }
  }
}

@media (max-width: 1515px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 7em;
        padding-right: 2em;
        margin-left: 1em;
        .h1 {
          font-size: 2.5em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 1.7em;
        .second {
          top: 7em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1515px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 8em;
        padding-right: 2em;
        margin-left: 0.7em;
        .h1 {
          font-size: 2.5em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 1.4em;
        .second {
          top: 7em;
          left: 16em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 8em;
        padding-right: 2em;
        margin-left: 0.3em;
        .h1 {
          font-size: 2.5em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 1em;
        .second {
          top: 7em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1388px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 6em;
        padding-right: 2em;
        margin-left: 0.2em;
        .h1 {
          font-size: 2.5em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 16em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 6em;
        padding-right: 2em;
        margin-left: 0.2em;
        .h1 {
          font-size: 2.5em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 15em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 5em;
        padding-right: 2em;
        margin-left: 0.1em;
        .h1 {
          font-size: 2em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 14em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 5em;
        padding-right: 2em;
        margin-left: 0.1em;
        .h1 {
          font-size: 2em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 12em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 5em;
        padding-right: 2em;
        margin-left: 0.1em;
        .h1 {
          font-size: 2em;
        }
        .h2 {
          font-size: 1.1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 11em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}
@media (max-width: 1025px) {
  .home-page {
    .section {
      .left-container {
        padding-top: 3.5em;
        padding-left: 5em;
        padding-right: 2em;
        margin-left: 0.1em;
        .h1 {
          font-size: 1.7em;
        }
        .h2 {
          font-size: 1em;
        }
      }
      .right-container {
        margin-left: 0em;
        .second {
          top: 7em;
          left: 7.5em;
        }
        .third {
          top: 15em;
        }
      }
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(-10deg);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(10deg);
  }
}
