.loading {
  position: fixed;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;

  .loading-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 8em;
    background-color: #1e6fd9;
    border-radius: 10px;
    -webkit-box-shadow: -1px 0px 65px -38px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 0px 65px -38px rgba(0, 0, 0, 1);
    box-shadow: -1px 0px 65px -38px rgba(0, 0, 0, 1);

    .drone-propeller {
      position: absolute;
      width: 1.6em;
      height: 1.6em;

      &.top-left,
      &.top-right,
      &.bottom-left,
      &.bottom-right {
        animation: rotateleft 0.2s linear infinite;
      }

      &.top-left {
        top: 1.1em;
        left: 1.3em;
        transform: scaleX(-1);
      }

      &.top-right {
        top: 1.1em;
        right: 1.2em;
        animation: rotateright 0.2s linear infinite;
      }

      &.bottom-left {
        bottom: 1.1em;
        left: 1.2em;
        transform: rotate(180deg);
        animation: rotateright 0.2s linear infinite;
      }

      &.bottom-right {
        bottom: 1.1em;
        right: 1.2em;
        transform: scaleY(-1);
        animation: rotateleft 0.2s linear infinite;
      }

      img {
        width: 1.5em;
        height: 1.5em;
      }
    }

    .drone-body {
      width: 4em;
      height: 4em;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .loading-text {
    margin-top: 0.4em;
    color: rgb(66, 65, 65);
    font-size: 1.1em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.03em;
    animation: pulse 2s infinite;
  }

  .description {
    margin-top: 0.4em;
    font-size: 0.8em;
    text-align: center;
    color: rgb(66, 65, 65);
  }

  .footer {
    margin-bottom: 0.5em;
    color: #0455bf;
    font-size: 0.8em;
    letter-spacing: 0.08em;
  }
}

@media (max-width: 1684px) {
  .loading {
    .loading-box {
      width: 7.5em;
      height: 7.5em;

      .drone-body {
        width: 3.5em;
        height: 3.5em;
      }
    }

    .footer {
      font-size: 0.75em;
      letter-spacing: 0.1em;
    }
  }
}

@media (max-width: 820px) {
  .loading {
    .description {
      margin-top: 0.5em;
      width: 70%;
    }

    .footer {
      font-size: 0.9em;
      letter-spacing: 0.05em;
    }
  }
}

@media (max-width: 440px) {
  .loading {
    .loading-box {
      width: 7em;
      height: 7em;

      .drone-propeller {
        position: absolute;
        width: 1.3em;
        height: 1.3em;

        &.top-left,
        &.top-right,
        &.bottom-left,
        &.bottom-right {
          animation: rotateleft 0.2s linear infinite;
        }

        &.top-left {
          top: 1.1em;
          left: 1.3em;
          transform: scaleX(-1);
        }

        &.top-right {
          top: 1.1em;
          right: 1.2em;
          animation: rotateright 0.2s linear infinite;
        }

        &.bottom-left {
          bottom: 1.1em;
          left: 1.2em;
          transform: rotate(180deg);
          animation: rotateright 0.2s linear infinite;
        }

        &.bottom-right {
          bottom: 1.1em;
          right: 1.2em;
          transform: scaleY(-1);
          animation: rotateleft 0.2s linear infinite;
        }

        img {
          width: 1.5em;
          height: 1.5em;
        }
      }

      .drone-body {
        width: 3.5em;
        height: 3.5em;
      }
    }

    .loading-text {
      margin-top: 0.5em;
      font-size: 1em;
    }

    .footer {
      font-size: 0.75em;
      letter-spacing: 0.05em;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateright {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
