.container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .left {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      padding-right: 10em;
      .title {
        display: block;
        width: 50%;
        padding: 0.3em 1em;
        font-size: 2em;
        font-weight: 600;
        text-align: center;
        background-color: #5c9df2;
        border-radius: 5px;
        -webkit-box-shadow: -2px 1px 46px -17px rgba(48, 132, 242, 1);
        -moz-box-shadow: -2px 1px 46px -17px rgba(48, 132, 242, 1);
        box-shadow: -2px 1px 46px -17px rgba(48, 132, 242, 1);
        transition: background-color 0.5s ease-in, transform 0.3s ease-in;

        &:hover {
          background-color: #5096f2;
          transform: scale(1.05);
        }
      }
    }

    .right {
      width: 50%;
      margin-right: 15em;
      padding-right: 5em;

      .description {
        padding: 1.5em 3em;
        font-size: 1.1em;
        color: #f2f2f2;
        background-color: #12151a7e;
        border: 1px solid #1e6fd99f;
        border-radius: 5px;
        letter-spacing: 0.03em;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;

    .header {
      margin-top: 0.5em;
      margin-bottom: 1em;
      font-size: 1.6em;
      font-weight: 600;
    }

    .materials {
      margin-bottom: 2em;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5em;

        li {
          cursor: pointer;
          overflow: hidden;
          border-radius: 15px;

          img {
            width: 30em;
            height: auto;
            transition: transform 0.3s ease-in;

            &:hover {
              transform: scale(1.03);
            }
          }
        }
      }
    }
  }
}
