footer {
  position: fixed;
  bottom: 0.8em;
  width: 100%;
  display: flex;
  font-size: 0.9em;
  font-weight: 300;
  justify-content: center;
  letter-spacing: 0.05em;
}

@media (max-width: 1515px) {
  footer {
    font-size: 0.9em;
  }
}
