.button-close {
  position: absolute;
  top: 2.8em;
  right: 5em;
  z-index: 49;
  width: 3em;
  cursor: pointer;
  filter: drop-shadow(-5px 2px 19px #00000081);
  animation: fadeIn 0.3s ease forwards;
}

.modal-reference {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 50;
  height: 90%;
  width: auto;
  max-width: 95%;
  border: solid 2px #1e6fd9;
  border-radius: 10px;
  overflow: hidden;
  transform: translate(-50%, -50%);
  transition: border 0.1s ease-in;
  animation: descent 0.5s ease forwards;

  .modal-reference__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .reference {
    width: auto;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }

  &:hover {
    border: solid 4px #1e6fd9;
  }
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.5s ease forwards;
}

@media (max-width: 1440px) {
  .button-close {
    width: 2.7em;
  }
}

@media (max-width: 1160px) {
  .button-close {
    width: 2.5em;
    right: 4em;
  }
}

@media (max-width: 1025px) {
  .button-close {
    position: fixed;
    width: 2.5em;
    right: 4em;
  }
  .modal-reference,
  .shadow {
    position: fixed;
  }
}
@media (max-width: 768px) {
  .button-close {
    width: 2.8em;
    right: 3.2em;
    top: 0.5%;
    z-index: 51;
  }
}
@media (max-width: 430px) {
  .button-close {
    width: 2.7em;
    right: 0.2em;
    top: 12%;
  }
  .modal-reference {
    height: 67%;
    max-width: 97%;
  }
}
@media (max-width: 390px) {
  .button-close {
    width: 2.3em;
    right: 0.2em;
    top: 12%;
  }
  .modal-reference {
    height: 67%;
    max-width: 97%;
  }
}
@media (max-width: 375px) {
  .button-close {
    width: 2.2em;
    right: 0.45em;
    top: 7%;
  }
  .modal-reference {
    height: 75%;
  }
}
@media (max-width: 360px) {
  .button-close {
    top: 8%;
    right: 0.25em;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes descent {
  from {
    top: 40%;
  }
  to {
    top: 50%;
  }
}
