.modal {
  position: fixed;
  z-index: 50;
  .modal-content {
    .photo {
      width: 50%;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.4);
}
