.button-close {
  position: fixed;
  top: 8em;
  right: 4.7em;
  z-index: 51;
  width: 3em;
  cursor: pointer;
  filter: drop-shadow(-5px 2px 19px #00000081);
  animation: fadeIn 0.3s ease forwards;
}

.modal {
  position: fixed;
  display: flex;
  width: auto;
  height: 100%;
  z-index: 50;
  align-items: center;
  overflow: hidden;

  .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    .photo {
      margin-left: 5em;
      margin-top: 0em;
      height: auto;
      animation: movementFromAbove 0.5s ease forwards;

      img {
        width: 100%;
        height: 100%;
        border: 1px solid #3084f2;
        border-radius: 5px;
      }
    }

    .photo-description {
      width: 70em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em;
      margin-right: 5em;
      margin-bottom: 0em;
      background-color: #12151ade;
      border-radius: 5px;
      animation: movementFromBelow 0.5s ease forwards;

      .photo-description-title {
        padding: 0.3em 2em;
        font-size: 1.5em;
        font-weight: 800;
        text-align: center;
        background-color: #3084f2;
        border-radius: 5px;
      }

      .photo-date {
        margin-top: 1em;
        font-size: 1.1em;
        font-weight: 500;
      }

      .curiosity {
        margin-top: 1em;
        padding: 0.3em 0.8em;
        font-size: 1.1em;
        font-weight: 500;
        background-color: #bf7839;
        border-radius: 5px;
      }

      .photo-description-text {
        margin-top: 0.7em;
        margin-bottom: 0.5em;
        padding-bottom: 1em;
        padding-right: 1em;
        font-size: 1.1em;
        font-weight: 300;
        text-align: center;
        letter-spacing: 0.02em;
        border-right: 1px solid #3084f2;
        border-bottom: 1px solid #3084f2;
        border-radius: 5px;
      }
      .source {
        font-size: 0.9em;
        font-style: italic;
        text-align: center;
        margin-top: 0.4em;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 2px;
        border-right: 0.5px solid #f2f2f2;
        border-left: 0.5px solid #f2f2f2;
        cursor: pointer;
        a {
          all: unset;
        }
      }
    }
  }
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 48;
  background-color: rgba(0, 0, 0, 0.8);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes movementFromAbove {
  from {
    margin-top: -10em;
  }
  to {
    margin-top: 0em;
  }
}

@keyframes movementFromBelow {
  from {
    margin-bottom: -10em;
  }
  to {
    margin-bottom: 0em;
  }
}

@media (max-width: 1515px) {
  .button-close {
    position: fixed;
    top: 4em;
    right: 1.4em;
    z-index: 51;
    width: 2.5em;
  }
  .modal {
    .modal-content {
      .photo {
        margin-left: 1.5em;
      }
      .photo-description {
        width: 80em;
        margin-right: 1.5em;
        .photo-description-title {
          padding: 0.3em 2.5em;
          font-size: 1.3em;
        }
        .photo-date {
          margin-top: 0.5em;
          font-size: 1em;
        }
        .curiosity {
          margin-top: 0.5em;
          padding: 0.3em 0.9em;
          font-size: 1em;
          font-weight: 500;
        }
        .photo-description-text {
          font-size: 1em;
          letter-spacing: 0.01em;
          padding-bottom: 1.1em;
          padding-right: 1.1em;
        }
        .source {
          font-size: 0.8em;
        }
      }
    }
  }
}
