.summary {
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  padding: 5.5em 4em;
  border: 2px solid #5c9df2;
  background-color: #5c9df21f;
  transform: translate(-50%, -50%);
  animation: movementFromAbove 1s ease forwards;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: 700;

    .strong {
      width: 50%;
      padding: 0.3em;
      margin-bottom: 0.5em;
      font-size: 1.7em;
      font-weight: 900;
      text-align: center;
      background-color: #5c9df2;
    }
  }

  .summary-results {
    width: 50%;
    margin-top: 1em;
    border-radius: 4px;
    background-color: #bf7839;
    text-align: center;
  }

  .results {
    margin-top: 0.5em;
    text-align: left;

    .paragraph {
      .text {
        margin-top: 0.1em;
        font-size: 1.1em;
      }

      .score {
        margin-top: 0.5em;
        font-size: 1.1em;
        font-weight: 900;
        letter-spacing: 0.02em;
        color: #be7738;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;

    .button {
      all: unset;
      width: 45%;
      height: 3.8em;
      margin: 0em 0.5em;
      padding: 0;
      border: 2px solid #1e6fd9;
      font-size: 1em;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0.05em;
      color: white;
      cursor: pointer;
      transition: background-color 0.8s;

      &:hover {
        border: 2px solid transparent;
        background-color: #0d65d9;
      }
    }
  }
}

.shadow {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
  box-shadow: 0px -50px 170px 18px rgba(30, 111, 217, 1);
  -webkit-box-shadow: 0px -100px 100px 12px rgba(30, 111, 217, 1);
  -moz-box-shadow: 0px -100px 100px 12px rgba(30, 111, 217, 1);
  box-shadow: 0px -50px 170px 18px rgba(30, 111, 217, 1);
}

@keyframes movementFromAbove {
  from {
    top: 40%;
  }
  to {
    top: 50%;
  }
}
@media (max-width: 1515px) {
  .summary {
    padding: 3em;
    top: 55%;

    .title,
    .strong {
      font-size: 1.5em;
    }

    .title {
      padding-top: 1.5em;
    }

    .summary-results {
      font-size: 1.1em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      .results {
        .paragraph,
        .score {
          font-size: 1em;
        }
      }
    }

    .buttons {
      padding-bottom: 2.5em;

      .button {
        height: 3.4em;
        font-size: 0.9em;
      }
    }
  }
}
