.reference-box {
  width: 30em;
  height: 15em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  border: 0.5px solid #f2f2f2;
  border-radius: 5px;
  background-color: #12151a;
  cursor: pointer;
  transition: box-shadow 0.5s ease;

  &:hover {
    -webkit-box-shadow: -1px 0px 40px 10px rgba(148, 189, 242, 1);
    -moz-box-shadow: -1px 0px 40px 10px rgba(148, 189, 242, 1);
    box-shadow: -1px 0px 40px 10px rgba(148, 189, 242, 1);
  }

  .avatar {
    width: 20%;
    height: 5em;
    position: relative;
    left: 1em;
    border-radius: 5px;

    img {
      width: 5em;
      height: 5em;
      border-radius: 50%;
    }
  }

  .reference-content {
    width: 80%;
    padding: 2em 2em 2em 1em;
    display: flex;
    flex-direction: column;

    .reference-header {
      font-weight: 800;
      margin-bottom: 0.2em;
      letter-spacing: 0.05em;
    }
  }
}
